<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/css/styles.css">
	<script type="text/javascript" src="//use.typekit.net/jlh7qap.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
	<title><%= title %></title>
</head>
<body>
	
	<div class="page">
		<header class="header">
			<div class="inner">
				<h1 class="logo"><%= title %></h1>	
			</div>
			
		</header>
		<section class="content">
			<div class="inner"></div>
		</section>
		<footer class="footer">
			<div class="inner">Footer</div>
			
		</footer>

	</div>

	<script type="text/javascript" src="/js/lib/jquery-2.1.0.min.js"></script>
	<script type="text/javascript" src="/js/lib/underscore.js"></script>
	<script type="text/javascript" src="/js/lib/backbone.js"></script>
	<script type="text/javascript" src="/js/lib/backbone.layoutmanager.js"></script>
	<script type="text/javascript" src="/js/start.js"></script>
</body>
</html>